* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0; 
  padding: 15px 0 15px 15px;
  background-color: rgb(154,9,9);
  font-size: 18px;
}
.website-title {
  margin-bottom: 10px;
  text-align: center;
}
.nav {
  width: 100%;
  padding: 20px 50px 3px 50px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background-color: #000;
}
.nav-tile img {
  width: 200px;
  align-items: center;
}
.nav-tile p {
  margin: 0;
  color: #fff;
  text-align: center;
}
a {  
  color: #fff;
  text-decoration: none;
}
.sections {
  display: flex;
  margin-top: 2px;
}
.left-section {
  width: 20%;
  color:rgb(207,86,9);
  background-color: rgb(125,9,9);
  text-decoration: underline;
}
.left-section p{
  margin: 0 0 20px 0;
}
.center-section {
  width: 65%;
  padding: 5px 5px;
  color: #fff;
}
.right-section {
  width: 15%;
  margin-right: 2px;
  background-color:rgb(227,221,221);
}
.right-section-title {
  font-weight: bold;
  text-align: center;
  background-color: rgb(189,189,189);
}

.right-section-content {
  padding: 10px 1px 10px 1px;
  margin-top: 5px;
  background-color:rgb(227,221,221);
}
.divider {
  width: 50%;
}
footer {
  background-color: rgb(207,86,9);
  color: #fff;
  font-size: 20px;
  text-align: center;
}